<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
</head>
<body>
<ul>
    <li>{{ user.firstName }}</li>
    <li>{{ user.lastName }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.jobPosition }}</li>
    {% for key, value in user.getSkills %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
Login: {{ user.email }} <br>
Hasło: {{ plainPassword }}
</body>
</html>